/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../../sass/blocks/expertise-block.scss */
.expertise h2 {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.1px;
  color: #413d4b;
  text-align: center;
  text-transform: uppercase;
  margin: 70px 0 17px 0;
}
/* line 14, ../../sass/blocks/expertise-block.scss */
.expertise p {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.05px;
  color: #2f2d35;
  display: block;
  text-align: center;
}
/* line 23, ../../sass/blocks/expertise-block.scss */
.expertise hr {
  margin: 19px auto 47px auto;
}
/* line 26, ../../sass/blocks/expertise-block.scss */
.expertise .services-block {
  max-width: 953px;
  margin: 0 auto;
  margin-bottom: 68px;
}
/* line 30, ../../sass/blocks/expertise-block.scss */
.expertise .services-block .service {
  float: left;
  max-width: 954px;
  width: calc(100% / 3);
  max-width: 318px;
  border: 1px solid #EFEFEF;
  border-top: none;
}
/* line 37, ../../sass/blocks/expertise-block.scss */
.expertise .services-block .service img {
  display: block;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 34px;
  text-align: center;
  min-height: 50px;
}
/* line 45, ../../sass/blocks/expertise-block.scss */
.expertise .services-block .service h3 {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.7px;
  line-height: 22px;
  color: #413d4b;
  margin-bottom: 25px;
  padding: 0 10px;
}
/* line 57, ../../sass/blocks/expertise-block.scss */
.expertise .services-block .service p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.7px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 40px;
  padding: 0 30px;
}
/* line 69, ../../sass/blocks/expertise-block.scss */
.expertise .services-block .service:nth-child(1),
.expertise .services-block .service:nth-child(3),
.expertise .services-block .service:nth-child(4),
.expertise .services-block .service:nth-child(6) {
  border-left: none;
  border-right: none;
}
/* line 76, ../../sass/blocks/expertise-block.scss */
.expertise .services-block .service:nth-child(1n+4) {
  border-bottom: none;
}
/* line 79, ../../sass/blocks/expertise-block.scss */
.expertise .services-block .clearfix {
  clear: both;
}

@media (max-width: 1080px) and (min-width: 100px) {
  /* line 85, ../../sass/blocks/expertise-block.scss */
  .expertise {
    padding: 0 40px;
  }
  /* line 87, ../../sass/blocks/expertise-block.scss */
  .expertise h2 {
    font-size: 42px;
  }
  /* line 90, ../../sass/blocks/expertise-block.scss */
  .expertise p {
    font-size: 24px;
  }
  /* line 93, ../../sass/blocks/expertise-block.scss */
  .expertise hr {
    margin: 39px auto 67px auto;
  }
  /* line 96, ../../sass/blocks/expertise-block.scss */
  .expertise .services-block {
    max-width: 100%;
  }
  /* line 98, ../../sass/blocks/expertise-block.scss */
  .expertise .services-block .service {
    float: none;
    display: block;
    max-width: 660px;
    width: auto;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #EFEFEF;
  }
  /* line 106, ../../sass/blocks/expertise-block.scss */
  .expertise .services-block .service img {
    min-height: 80px;
  }
  /* line 109, ../../sass/blocks/expertise-block.scss */
  .expertise .services-block .service h3 {
    font-size: 30px;
    letter-spacing: 0.7px;
    line-height: 52px;
  }
  /* line 114, ../../sass/blocks/expertise-block.scss */
  .expertise .services-block .service p {
    font-size: 24px;
    letter-spacing: 0.7px;
    line-height: 32px;
    padding: 0;
  }
  /* line 120, ../../sass/blocks/expertise-block.scss */
  .expertise .services-block .service:nth-child(1n+4) {
    border-bottom: 1px solid #EFEFEF;
  }
}
