/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../../sass/blocks/our-team-block.scss */
.our-team {
  position: relative;
}
/* line 5, ../../sass/blocks/our-team-block.scss */
.our-team .our-team-bgd {
  width: 100%;
  min-height: 713px;
  background-image: url(../img/our-team.png);
  background-repeat: no-repeat;
}
/* line 10, ../../sass/blocks/our-team-block.scss */
.our-team .our-team-bgd .our-team-overlay {
  width: 100%;
  min-height: 713px;
  background: -webkit-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
  background: -o-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
}
/* line 16, ../../sass/blocks/our-team-block.scss */
.our-team .our-team-bgd .our-team-overlay h2 {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.1px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding-top: 70px;
  margin: 0 0 17px 0;
}
/* line 27, ../../sass/blocks/our-team-block.scss */
.our-team .our-team-bgd .our-team-overlay p {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.05px;
  color: white;
  display: block;
  text-align: center;
}
/* line 36, ../../sass/blocks/our-team-block.scss */
.our-team .our-team-bgd .our-team-overlay hr {
  margin: 19px auto 47px auto;
}
/* line 39, ../../sass/blocks/our-team-block.scss */
.our-team .our-team-bgd .our-team-overlay .wrap-employee-block {
  display: block;
  vertical-align: top;
  text-align: center;
  margin-bottom: 70px;
}
/* line 45, ../../sass/blocks/our-team-block.scss */
.our-team .our-team-bgd .our-team-overlay .employee-block {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
}
/* line 49, ../../sass/blocks/our-team-block.scss */
.our-team .our-team-bgd .our-team-overlay .employee-block .employee-img {
  height: 229px;
  background-color: white;
}
/* line 53, ../../sass/blocks/our-team-block.scss */
.our-team .our-team-bgd .our-team-overlay .employee-block .employee-description {
  border: 1px solid #7D7A92;
  border-top: none;
}
/* line 56, ../../sass/blocks/our-team-block.scss */
.our-team .our-team-bgd .our-team-overlay .employee-block .employee-description h5 {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.7px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0 8px 0;
}
/* line 66, ../../sass/blocks/our-team-block.scss */
.our-team .our-team-bgd .our-team-overlay .employee-block .employee-description p {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 21px;
}
/* line 77, ../../sass/blocks/our-team-block.scss */
.our-team .our-team-bgd .our-team-overlay .employee-block:nth-child(4) {
  margin-right: 0;
}
/* line 80, ../../sass/blocks/our-team-block.scss */
.our-team .our-team-bgd .our-team-overlay p {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #f3f3f3;
  text-align: center;
  margin-bottom: 20px;
}
/* line 88, ../../sass/blocks/our-team-block.scss */
.our-team .our-team-bgd .our-team-overlay a {
  text-decoration: none;
  text-transform: uppercase;
  width: 139px;
  display: block;
  margin: 0 auto;
  padding: 13px;
  border: 1px solid #00e0d0;
  color: #00e0d0;
  font-size: 16px;
  font-family: "Hammersmith One";
}
/* line 99, ../../sass/blocks/our-team-block.scss */
.our-team .our-team-bgd .our-team-overlay a:active, .our-team .our-team-bgd .our-team-overlay a:hover {
  color: #46A3CC;
  border: 1px solid #46A3CC;
}

@media (max-width: 1080px) and (min-width: 100px) {
  /* line 111, ../../sass/blocks/our-team-block.scss */
  .our-team .our-team-bgd .our-team-overlay h2 {
    font-size: 42px;
  }
  /* line 114, ../../sass/blocks/our-team-block.scss */
  .our-team .our-team-bgd .our-team-overlay p {
    font-size: 24px;
  }
  /* line 119, ../../sass/blocks/our-team-block.scss */
  .our-team .our-team-bgd .our-team-overlay .employee-block .employee-description h5 {
    font-size: 24px;
  }
  /* line 122, ../../sass/blocks/our-team-block.scss */
  .our-team .our-team-bgd .our-team-overlay .employee-block .employee-description p {
    font-size: 23px;
  }
  /* line 128, ../../sass/blocks/our-team-block.scss */
  .our-team .our-team-bgd .our-team-overlay p.join-us {
    display: none;
  }
  /* line 131, ../../sass/blocks/our-team-block.scss */
  .our-team .our-team-bgd .our-team-overlay .buttom-our-team {
    width: 208px;
    margin: -23px auto;
    font-size: 26px;
    text-align: center;
  }
}
@media (max-width: 950px) and (min-width: 100px) {
  /* line 145, ../../sass/blocks/our-team-block.scss */
  .our-team .our-team-bgd .our-team-overlay p {
    display: none;
  }
  /* line 149, ../../sass/blocks/our-team-block.scss */
  .our-team .our-team-bgd .our-team-overlay .employee-block .employee-description p {
    display: block;
  }
  /* line 153, ../../sass/blocks/our-team-block.scss */
  .our-team .our-team-bgd .our-team-overlay .employee-block:nth-child(4) {
    display: none;
  }
  /* line 156, ../../sass/blocks/our-team-block.scss */
  .our-team .our-team-bgd .our-team-overlay .employee-block:nth-child(3) {
    margin-right: 0;
  }
}
@media (max-width: 730px) and (min-width: 100px) {
  /* line 167, ../../sass/blocks/our-team-block.scss */
  .our-team .our-team-bgd .our-team-overlay .employee-block:nth-child(3) {
    display: none;
  }
  /* line 170, ../../sass/blocks/our-team-block.scss */
  .our-team .our-team-bgd .our-team-overlay .employee-block:nth-child(2) {
    margin-right: 0;
  }
}
@media (max-width: 470px) and (min-width: 100px) {
  /* line 182, ../../sass/blocks/our-team-block.scss */
  .our-team .our-team-bgd .our-team-overlay h2 {
    padding-top: 50px;
  }
  /* line 185, ../../sass/blocks/our-team-block.scss */
  .our-team .our-team-bgd .our-team-overlay hr {
    margin-bottom: 22px;
  }
  /* line 188, ../../sass/blocks/our-team-block.scss */
  .our-team .our-team-bgd .our-team-overlay .employee-block:nth-child(2) {
    display: none;
  }
  /* line 191, ../../sass/blocks/our-team-block.scss */
  .our-team .our-team-bgd .our-team-overlay .employee-block {
    margin-right: 0;
  }
  /* line 194, ../../sass/blocks/our-team-block.scss */
  .our-team .our-team-bgd .our-team-overlay .buttom-our-team {
    margin: -29px auto;
  }
}
