* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  box-sizing: border-box;
  background-color: #F4F4F4;
  overflow: auto;
}

.wrap {
	width: 100%;
  margin: 0 auto;
  position: relative;
}

img {
	max-width: 100%;
	height: auto;
}

.clearfix {
  clear: both;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?b0cyg4');
  src:  url('../fonts/icomoon.eot?b0cyg4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?b0cyg4') format('truetype'),
    url('../fonts/icomoon.woff?b0cyg4') format('woff'),
    url('../fonts/icomoon.svg?b0cyg4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
  font-size: 18px;
  position: absolute;
  top: 7px;
  left: 16px;
  color: #fff;
}

.icon-menu:before {
  content: "\e9bd";
  font-size: 18px;
}

.icon-arrow-left2:before {
  content: "\ea40";
  font-size: 18px;
  position: absolute;
  top: 24px;
  left: 18px;
  visibility: hidden;
}

.icon-arrow-left2:before .open {
  visibility: visible;
}

header.main {
  background-color: #505050;
  position: relative;
  z-index: 99999;
}

header.main .menu-bottom-wrap {
  float: left;
  text-decoration: none;
  color: white;
  padding: 10px 11px;
  background-color: #202020;
}

header.main .logo {
  float: left;
  font-family: Roboto, sans-serif;
  font-size: 19px;
  font-weight: 700;
  margin: 21px 32px 21px 24px;
  color: #fff;
}

header.main .logo .fa-angle-right {
  color: white;
  margin-left: 19px;
}

header.main .dashboard {
  float: left;
  margin-top: 21px;
  font-family: Roboto, sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #fff;
}

header.main .box {
  float: right;
  position: relative;
  min-width: 570px;
  margin: 17px 15px;
  color: white;
}

header.main .box .fa-caret-down {
  font-size: 16px;
  position: absolute;
  top: 7px;
  right: 16px;
  color: #fff;
}

header.main .box input#search {
  width: 100%;
  background: #707070;
  border: none;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  color: #fff;
  outline: none;
  line-height: 2;
  border-radius: 3px;
  padding-left: 42px;
}

header.main .box input#search::-webkit-input-placeholder {color:#fff;}
header.main .box input#search::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
header.main .box input#search:-moz-placeholder           {color:#fff;}/* Firefox 18- */
header.main .box input#search:-ms-input-placeholder      {color:#fff;}

.expanded-menu {
  position: fixed;
  padding-top: 66px;
  top: 0;
  left: 0;
  display: inline-block;
  min-width: 185px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms;
  max-width: 54px;
  min-height: 100%;
  background-color: #202020;
  text-align: center;
  height: 100%;
}

.expanded-menu:target {
  visibility: visible;
  opacity: 1;
  height: 100%;
  overflow: overlay;
  z-index: 9999;
}

.expanded-menu .mobile-header-content {
  display: none;
}

.expanded-menu .navigation ul li {
  list-style-type: none;
}

.expanded-menu .navigation ul li:hover,
.expanded-menu .navigation ul li:active {
  background-color: #3A3A3A;
}

.expanded-menu .navigation ul li .menu-link {
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: block;
  padding: 24px 0;
  margin-left: 54px;
} 

.expanded-menu .navigation ul li .menu-link span {
  position: absolute;
  left: 0;
  max-width: 54px;
  float: left;
  margin-left: 17px;
}

/* style for icon menu */
/* line 11, ../sass/mob-menu.scss */
.menu-icon span, .menu-icon:before, .menu-icon:after, .example-9 span:before, .example-9 span:after {
  display: block;
  position: absolute;
  top: 50%;
  left: 0.125em;
  background-color: #fff;
  width: 0.75em;
  height: 0.05em;
  border-radius: 0;
}

/* line 22, ../sass/mob-menu.scss */
.menu-icon {
  font-size: 2rem;
  width: 1em;
  height: 1.3em;
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 0;
  padding: 0;
  outline: none;
  user-select: none;
  -webkit-touch-callout: none;
  touch-action: manipulation;
  cursor: pointer;
}
/* line 39, ../sass/mob-menu.scss */
.menu-icon span {
  margin-top: -0.025em;
}
/* line 44, ../sass/mob-menu.scss */
.menu-icon:before {
  content: "";
  margin-top: -0.275em;
}
/* line 50, ../sass/mob-menu.scss */
.menu-icon:after {
  content: "";
  margin-top: 0.225em;
}

/* line 59, ../sass/mob-menu.scss */
.example-9:before, .example-9:after {
  display: none;
}
/* line 63, ../sass/mob-menu.scss */
.example-9 span {
  transition: 0.25s ease;
}
/* line 66, ../sass/mob-menu.scss */
.example-9 span:before, .example-9 span:after {
  content: "";
  top: 0;
  right: 0;
  left: auto;
  transition: inherit;
  margin: 0;
}
/* line 76, ../sass/mob-menu.scss */
.example-9 span:before {
  transform: translateY(-0.25em);
}
/* line 80, ../sass/mob-menu.scss */
.example-9 span:after {
  transform: translateY(0.25em);
}
/* line 86, ../sass/mob-menu.scss */
.example-9.is-open span {
  transform: rotate(-180deg);
}
/* line 89, ../sass/mob-menu.scss */
.example-9.is-open span:before, .example-9.is-open span:after {
  width: 0.375em;
  right: 0.02em;
}
/* line 94, ../sass/mob-menu.scss */
.example-9.is-open span:before {
  transform: rotate(-45deg) translateY(0.17em);
}
/* line 98, ../sass/mob-menu.scss */
.example-9.is-open span:after {
  transform: rotate(45deg) translateY(-0.17em);
}

@media (max-width: 1000px) and (min-width: 100px) {
  header.main {
    min-height: 149px;
  }

  header.main .menu-icon {
    font-size: 6rem;
  }

  header.main .logo {
    display: none;
  }

  header.main .dashboard {
    display: none;
  }

  header.main .box {
    min-width: 180px;
    margin: 38px 28px;
  }

  header.main .box input#search {
    font-size: 28px;
    min-height: 69px;
    border-radius: 25px;
    padding-left: 55px;
  }

  header.main .box .icon-search:before {
    top: 21px;
    left: 14px;
    font-size: 28px;
  }

  header.main .box .fa-caret-down {
    top: 21px;
    right: 16px;
    font-size: 28px;
  }

  .expanded-menu {
    min-width: 50%;
    margin-top: 84px;
  }

  .expanded-menu .mobile-header-content {
    display: block;
    background-color: #505050;
  }

  .expanded-menu .mobile-header-content .logo {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 28px;
    font-weight: 700;
    padding: 21px 0;
    color: #fff;
  }

  .expanded-menu .mobile-header-content .fa-angle-right {
    transform: rotate(90deg);
    color: #fff;
  }

  .expanded-menu .mobile-header-content .dashboard {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #fff;
    padding: 21px 0;
  }

  .expanded-menu .navigation ul li .menu-link {
    font-size: 28px;
    padding-left: 115px;
    margin: 0;
  }

  .expanded-menu .navigation ul li .menu-link span {
    margin-left: 39px;
    font-size: 43px;
  }
}
