* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  box-sizing: border-box;
  background-color: #F4F4F4;
  overflow: auto;
}

.wrap {
	width: 100%;
  margin: 0 auto;
  position: relative;
}

img {
	max-width: 100%;
	height: auto;
}

.clearfix {
  clear: both;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?b0cyg4');
  src:  url('../fonts/icomoon.eot?b0cyg4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?b0cyg4') format('truetype'),
    url('../fonts/icomoon.woff?b0cyg4') format('woff'),
    url('../fonts/icomoon.svg?b0cyg4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e986";
  font-size: 18px;
  position: absolute;
  top: 7px;
  left: 16px;
  color: #fff;
}

.icon-menu:before {
  content: "\e9bd";
  font-size: 18px;
}

.icon-arrow-left2:before {
  content: "\ea40";
}

header.main {
  background-color: #505050;
}

header.main .menu {
  float: left;
  text-decoration: none;
  color: white;
  padding: 24px 18px;
  background-color: #202020;
}

header.main .logo {
  float: left;
  font-family: Roboto, sans-serif;
  font-size: 19px;
  font-weight: 700;
  margin: 21px 32px 21px 24px;
  color: #fff;
}

header.main .logo .fa-angle-right {
  color: white;
  margin-left: 19px;
}

header.main .dashboard {
  float: left;
  margin-top: 21px;
  font-family: Roboto, sans-serif;
  font-size: 19px;
  font-weight: 400;
  color: #fff;
}

header.main .box {
  float: right;
  position: relative;
  min-width: 570px;
  margin: 17px 15px;
  color: white;
}

header.main .box .fa-caret-down {
  font-size: 16px;
  position: absolute;
  top: 7px;
  right: 16px;
  color: #fff;
}

header.main .box input#search {
  width: 100%;
  background: #707070;
  border: none;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  color: #fff;
  outline: none;
  line-height: 2;
  border-radius: 3px;
  padding-left: 42px;
}

header.main .box input#search::-webkit-input-placeholder {color:#fff;}
header.main .box input#search::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
header.main .box input#search:-moz-placeholder           {color:#fff;}/* Firefox 18- */
header.main .box input#search:-ms-input-placeholder      {color:#fff;}

.expanded-menu {
  position: fixed;
  top: 69px;
  left: 0;
  display: inline-block;
  min-width: 185px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 500ms;
  max-width: 54px;
  min-height: 100%;
  background-color: #202020;
  text-align: center;
  height: 100%;
}

.expanded-menu:target {
  visibility: visible;
  opacity: 1;
  z-index: 99999;
  top: 69px;
  height: 100%;
  overflow: overlay;
}

.expanded-menu .navigation ul li {
  list-style-type: none;
}

.expanded-menu .navigation ul li:hover,
.expanded-menu .navigation ul li:active {
  background-color: #3A3A3A;
}

.expanded-menu .navigation ul li .menu-link {
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  display: block;
  padding: 24px 0;
  margin-left: 54px;
} 

.expanded-menu .navigation ul li .menu-link span {
  position: absolute;
  left: 0;
  max-width: 54px;
  float: left;
  margin-left: 17px;
}

@media (max-width: 1100px) {
  header.main .box {
    min-width: 250px;
  }
}

@media (max-width: 800px) {
  header.main .box {
    min-width: 180px;
  }
}
