/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/blocks/style-header-main.scss */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 6, ../sass/blocks/style-header-main.scss */
body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  background-color: white;
  font-size: 14px;
  overflow: auto;
}

/* line 13, ../sass/blocks/style-header-main.scss */
.wrap {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

/* line 18, ../sass/blocks/style-header-main.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 22, ../sass/blocks/style-header-main.scss */
.wrap-content {
  padding: 0 330px;
}

/* line 25, ../sass/blocks/style-header-main.scss */
.clearfix {
  clear: both;
}

/* line 28, ../sass/blocks/style-header-main.scss */
header.main-top {
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  background-color: transparent;
  z-index: 9999;
}
/* line 34, ../sass/blocks/style-header-main.scss */
header.main-top a#logo {
  float: left;
  margin-left: 20%;
  margin-right: 13%;
  margin-top: 15px;
  text-decoration: none;
}
/* line 41, ../sass/blocks/style-header-main.scss */
header.main-top .navigation {
  list-style-type: none;
}
/* line 43, ../sass/blocks/style-header-main.scss */
header.main-top .navigation .menu {
  min-height: 13px;
  margin: 36px 0 36px 0;
  padding: 0;
}
/* line 47, ../sass/blocks/style-header-main.scss */
header.main-top .navigation .menu li {
  position: relative;
  float: left;
  margin-right: 25px;
}
/* line 51, ../sass/blocks/style-header-main.scss */
header.main-top .navigation .menu li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.325px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  color: white;
}
/* line 59, ../sass/blocks/style-header-main.scss */
header.main-top .navigation .menu li a:active, header.main-top .navigation .menu li a:hover {
  color: #00e0d0;
}

@media (max-width: 1080px) and (min-width: 100px) {
  /* line 69, ../sass/blocks/style-header-main.scss */
  header.main-top a#logo img {
    width: 300px;
  }

  /* line 73, ../sass/blocks/style-header-main.scss */
  header.main-top .navigation {
    display: none;
  }

  /* line 76, ../sass/blocks/style-header-main.scss */
  header.main-top .navigation .menu {
    display: none;
  }

  /* line 79, ../sass/blocks/style-header-main.scss */
  .mob-menu {
    position: absolute;
    right: 10px;
    top: 11px;
    width: 70px;
    height: 70px;
    margin: 32px 30px;
  }

  /* line 87, ../sass/blocks/style-header-main.scss */
  .mob-menu span {
    margin: 0 auto;
    position: relative;
    top: 30px;
  }

  /* line 92, ../sass/blocks/style-header-main.scss */
  .mob-menu span:before, .mob-menu span:after {
    position: absolute;
    content: '';
  }

  /* line 96, ../sass/blocks/style-header-main.scss */
  .mob-menu span, .mob-menu span:before, .mob-menu span:after {
    width: 60px;
    height: 8px;
    background-color: white;
    display: block;
  }

  /* line 102, ../sass/blocks/style-header-main.scss */
  .mob-menu span:before {
    margin-top: -16px;
  }

  /* line 105, ../sass/blocks/style-header-main.scss */
  .mob-menu span:after {
    margin-top: 16px;
  }

  /* line 108, ../sass/blocks/style-header-main.scss */
  .example5 span {
    -webkit-transition-duration: 0s;
    transition-duration: 0s;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  /* line 114, ../sass/blocks/style-header-main.scss */
  .example5:hover span {
    background-color: transparent;
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
  }

  /* line 119, ../sass/blocks/style-header-main.scss */
  .example5 span:before {
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
  }

  /* line 127, ../sass/blocks/style-header-main.scss */
  .example5:hover span:before {
    margin-top: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
  }

  /* line 134, ../sass/blocks/style-header-main.scss */
  .example5 span:after {
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-delay: 0.2s, 0s;
    transition-delay: 0.2s, 0s;
  }

  /* line 142, ../sass/blocks/style-header-main.scss */
  .example5:hover span:after {
    margin-top: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transition-delay: 0s, 0.2s;
    transition-delay: 0s, 0.2s;
  }
}
@media (max-width: 1280px) {
  /* line 152, ../sass/blocks/style-header-main.scss */
  header.main-top a#logo {
    margin-left: 15%;
    margin-right: 13%;
    margin-top: 15px;
    text-decoration: none;
  }
}
@media (max-width: 1440px) {
  /* line 161, ../sass/blocks/style-header-main.scss */
  .wrap-content {
    padding: 0 15%;
  }
}
/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/blocks/greeting-block.scss */
.greeting {
  position: relative;
}
/* line 5, ../sass/blocks/greeting-block.scss */
.greeting figure {
  width: 100%;
  height: auto;
  padding: 0;
}
/* line 9, ../sass/blocks/greeting-block.scss */
.greeting figure img {
  width: 100%;
  min-height: 671px;
}
/* line 13, ../sass/blocks/greeting-block.scss */
.greeting figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 3px;
  background: -webkit-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
  background: -o-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
}
/* line 22, ../sass/blocks/greeting-block.scss */
.greeting figure figcaption h1 {
  text-align: center;
  position: relative;
  font-size: 32px;
  letter-spacing: 0.32px;
  color: white;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  margin-top: 228px;
}
/* line 32, ../sass/blocks/greeting-block.scss */
.greeting figure figcaption hr {
  display: block;
  margin: 30px auto;
}
/* line 36, ../sass/blocks/greeting-block.scss */
.greeting figure figcaption .greeting-txt {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  color: white;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.7px;
  max-width: 780px;
  box-sizing: content-box;
  margin: 0 auto;
  text-align: center;
}
/* line 48, ../sass/blocks/greeting-block.scss */
.greeting figure figcaption .buttom-greeting {
  text-decoration: none;
  width: 123px;
  display: block;
  margin: 33px auto;
  padding: 15px;
  border: 1px solid #00e0d0;
  color: #00e0d0;
  font-size: 16px;
  font-family: "Hammersmith One";
}
/* line 58, ../sass/blocks/greeting-block.scss */
.greeting figure figcaption .buttom-greeting:active, .greeting figure figcaption .buttom-greeting:hover {
  color: #46A3CC;
  border: 1px solid #46A3CC;
}

@media (max-width: 1080px) and (min-width: 100px) {
  /* line 69, ../sass/blocks/greeting-block.scss */
  .greeting figure img {
    min-height: 700px;
  }
  /* line 73, ../sass/blocks/greeting-block.scss */
  .greeting figure figcaption h1 {
    font-size: 62px;
    letter-spacing: 2.32px;
    margin-top: 258px;
  }
  /* line 78, ../sass/blocks/greeting-block.scss */
  .greeting figure figcaption .greeting-txt {
    display: none;
  }
  /* line 84, ../sass/blocks/greeting-block.scss */
  .greeting figure figcaption hr {
    margin: 50px auto;
  }
  /* line 87, ../sass/blocks/greeting-block.scss */
  .greeting figure figcaption .buttom-greeting {
    width: 330px;
    margin: 33px auto;
    padding: 15px;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    font-size: 46px;
    text-align: center;
  }
}
/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/blocks/our-story-block.scss */
.our-story {
  padding-top: 70px;
  position: relative;
  margin: 0 auto;
  padding-left: 68px;
  max-width: 942px;
}
/* line 9, ../sass/blocks/our-story-block.scss */
.our-story .our-story-img {
  display: inline-block;
  text-align: right;
  margin-right: 100px;
  padding-bottom: 103px;
  clear: right;
}
/* line 15, ../sass/blocks/our-story-block.scss */
.our-story .our-story-img img {
  width: auto;
  min-width: 228px;
}
/* line 20, ../sass/blocks/our-story-block.scss */
.our-story .our-story-content {
  width: 57%;
  display: inline-block;
  vertical-align: top;
}
/* line 24, ../sass/blocks/our-story-block.scss */
.our-story .our-story-content h2 {
  font-size: 22px;
  font-family: "Playfair Display";
  font-weight: 700;
  letter-spacing: 1.1px;
  color: #413d4b;
  margin-bottom: 28px;
}
/* line 32, ../sass/blocks/our-story-block.scss */
.our-story .our-story-content p {
  float: left;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  letter-spacing: 0.42px;
  line-height: 22px;
  color: #413d4b;
  margin-bottom: 35px;
}
/* line 42, ../sass/blocks/our-story-block.scss */
.our-story .our-story-content .our-story-buttom {
  text-decoration: none;
  width: 123px;
  float: left;
  margin-bottom: 70px;
  padding: 15px;
  border: 1px solid #00e0d0;
  color: #00e0d0;
  font-size: 16px;
  font-family: "Hammersmith One";
}
/* line 52, ../sass/blocks/our-story-block.scss */
.our-story .our-story-content .our-story-buttom:active, .our-story .our-story-content .our-story-buttom:hover {
  color: #46A3CC;
  border: 1px solid #46A3CC;
}

@media (max-width: 1080px) and (min-width: 100px) {
  /* line 60, ../sass/blocks/our-story-block.scss */
  .our-story {
    padding-left: 0;
  }
  /* line 62, ../sass/blocks/our-story-block.scss */
  .our-story .our-story-img {
    display: none;
  }
  /* line 65, ../sass/blocks/our-story-block.scss */
  .our-story .our-story-content {
    width: 100%;
  }
  /* line 67, ../sass/blocks/our-story-block.scss */
  .our-story .our-story-content h2 {
    font-size: 52px;
    font-family: "Playfair Display";
    font-weight: 700;
    margin-bottom: 68px;
    text-align: center;
  }
  /* line 74, ../sass/blocks/our-story-block.scss */
  .our-story .our-story-content p {
    font-size: 44px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    line-height: 52px;
    padding: 0 50px;
    margin-bottom: 65px;
    text-align: center;
  }
  /* line 82, ../sass/blocks/our-story-block.scss */
  .our-story .our-story-content p:nth-child(2) {
    display: none;
  }
  /* line 86, ../sass/blocks/our-story-block.scss */
  .our-story .our-story-content .our-story-buttom {
    text-decoration: none;
    width: 123px;
    float: left;
    margin-bottom: 70px;
    padding: 15px;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    font-size: 16px;
    font-family: "Hammersmith One";
  }
  /* line 97, ../sass/blocks/our-story-block.scss */
  .our-story .our-story-content .our-story-buttom {
    float: none;
    display: grid;
    width: 330px;
    margin: 33px auto 43px auto;
    padding: 15px;
    border: 1px solid #00e0d0;
    color: #00e0d0;
    font-size: 46px;
    text-align: center;
  }
}
/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/blocks/watch-video-story-block.scss */
.watch-video-story {
  position: relative;
}
/* line 5, ../sass/blocks/watch-video-story-block.scss */
.watch-video-story figure {
  width: 100%;
  height: auto;
  padding: 0;
}
/* line 9, ../sass/blocks/watch-video-story-block.scss */
.watch-video-story figure img {
  width: 100%;
}
/* line 12, ../sass/blocks/watch-video-story-block.scss */
.watch-video-story figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 3px;
  background: -webkit-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
  background: -o-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
}
/* line 21, ../sass/blocks/watch-video-story-block.scss */
.watch-video-story figure figcaption div {
  width: 100px;
  margin: 0 auto;
  border: 3px solid white;
  border-radius: 50%;
  margin-top: 12.6%;
}
/* line 27, ../sass/blocks/watch-video-story-block.scss */
.watch-video-story figure figcaption div:hover {
  background-color: #46A3CC;
}
/* line 30, ../sass/blocks/watch-video-story-block.scss */
.watch-video-story figure figcaption div a {
  text-decoration: none;
  color: white;
  text-align: center;
}
/* line 34, ../sass/blocks/watch-video-story-block.scss */
.watch-video-story figure figcaption div a img {
  padding: 27px 28px 28px 35px;
}
/* line 39, ../sass/blocks/watch-video-story-block.scss */
.watch-video-story figure figcaption p {
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.8px;
  color: white;
  display: block;
  text-align: center;
  margin-top: 34px;
}

/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/blocks/expertise-block.scss */
.expertise h2 {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.1px;
  color: #413d4b;
  text-align: center;
  text-transform: uppercase;
  margin: 70px 0 17px 0;
}
/* line 14, ../sass/blocks/expertise-block.scss */
.expertise p {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.05px;
  color: #2f2d35;
  display: block;
  text-align: center;
}
/* line 23, ../sass/blocks/expertise-block.scss */
.expertise hr {
  margin: 19px auto 47px auto;
}
/* line 26, ../sass/blocks/expertise-block.scss */
.expertise .services-block {
  max-width: 953px;
  margin: 0 auto;
  margin-bottom: 68px;
}
/* line 30, ../sass/blocks/expertise-block.scss */
.expertise .services-block .service {
  float: left;
  max-width: 954px;
  width: calc(100% / 3);
  max-width: 318px;
  border: 1px solid #EFEFEF;
  border-top: none;
}
/* line 37, ../sass/blocks/expertise-block.scss */
.expertise .services-block .service img {
  display: block;
  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 34px;
  text-align: center;
  min-height: 50px;
}
/* line 45, ../sass/blocks/expertise-block.scss */
.expertise .services-block .service h4 {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.7px;
  line-height: 22px;
  color: #413d4b;
  margin-bottom: 25px;
  padding: 0 10px;
}
/* line 57, ../sass/blocks/expertise-block.scss */
.expertise .services-block .service p {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 0.7px;
  line-height: 22px;
  color: #333333;
  margin-bottom: 40px;
  padding: 0 30px;
}
/* line 69, ../sass/blocks/expertise-block.scss */
.expertise .services-block .service:nth-child(1) {
  border-left: none;
  border-right: none;
}
/* line 73, ../sass/blocks/expertise-block.scss */
.expertise .services-block .service:nth-child(3) {
  border-left: none;
  border-right: none;
}
/* line 77, ../sass/blocks/expertise-block.scss */
.expertise .services-block .service:nth-child(4) {
  border-left: none;
  border-right: none;
}
/* line 81, ../sass/blocks/expertise-block.scss */
.expertise .services-block .service:nth-child(6) {
  border-left: none;
  border-right: none;
}
/* line 85, ../sass/blocks/expertise-block.scss */
.expertise .services-block .service:nth-child(1n+4) {
  border-bottom: none;
}
/* line 88, ../sass/blocks/expertise-block.scss */
.expertise .services-block .clearfix {
  clear: both;
}

/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/blocks/our-team-block.scss */
.our-team {
  position: relative;
}
/* line 5, ../sass/blocks/our-team-block.scss */
.our-team figure {
  width: 100%;
  height: auto;
  padding: 0;
}
/* line 9, ../sass/blocks/our-team-block.scss */
.our-team figure img {
  width: 100%;
  height: auto;
  min-height: 713px;
}
/* line 14, ../sass/blocks/our-team-block.scss */
.our-team figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 3px;
  background: -webkit-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
  background: -o-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
}
/* line 23, ../sass/blocks/our-team-block.scss */
.our-team figure figcaption h2 {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1.1px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 70px 0 17px 0;
}
/* line 33, ../sass/blocks/our-team-block.scss */
.our-team figure figcaption p {
  font-family: "Playfair Display", serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 1.05px;
  color: white;
  display: block;
  text-align: center;
}
/* line 42, ../sass/blocks/our-team-block.scss */
.our-team figure figcaption hr {
  margin: 19px auto 47px auto;
}
/* line 45, ../sass/blocks/our-team-block.scss */
.our-team figure figcaption .wrap-employee-block {
  display: block;
  text-align: center;
  margin-bottom: 70px;
}
/* line 49, ../sass/blocks/our-team-block.scss */
.our-team figure figcaption .wrap-employee-block .employee-block {
  display: inline-block;
  width: 220px;
  margin-right: 20px;
}
/* line 53, ../sass/blocks/our-team-block.scss */
.our-team figure figcaption .wrap-employee-block .employee-block .employee-img {
  height: 229px;
  background-color: white;
}
/* line 57, ../sass/blocks/our-team-block.scss */
.our-team figure figcaption .wrap-employee-block .employee-block .employee-description {
  border: 1px solid #7D7A92;
  border-top: none;
}
/* line 60, ../sass/blocks/our-team-block.scss */
.our-team figure figcaption .wrap-employee-block .employee-block .employee-description h5 {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.7px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  padding: 20px 0 8px 0;
}
/* line 70, ../sass/blocks/our-team-block.scss */
.our-team figure figcaption .wrap-employee-block .employee-block .employee-description p {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #fafafa;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 21px;
}
/* line 81, ../sass/blocks/our-team-block.scss */
.our-team figure figcaption .wrap-employee-block .employee-block:nth-child(4) {
  margin-right: 0;
}
/* line 85, ../sass/blocks/our-team-block.scss */
.our-team figure figcaption p {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #f3f3f3;
  text-align: center;
  margin-bottom: 20px;
}
/* line 93, ../sass/blocks/our-team-block.scss */
.our-team figure figcaption a {
  text-decoration: none;
  text-transform: uppercase;
  width: 139px;
  display: block;
  margin: 0 auto;
  padding: 13px;
  border: 1px solid #00e0d0;
  color: #00e0d0;
  font-size: 16px;
  font-family: "Hammersmith One";
}
/* line 104, ../sass/blocks/our-team-block.scss */
.our-team figure figcaption a:active, .our-team figure figcaption a:hover {
  color: #46A3CC;
  border: 1px solid #46A3CC;
}

/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/blocks/clients-block.scss */
.clients-block {
  padding-left: 15%;
}
/* line 5, ../sass/blocks/clients-block.scss */
.clients-block .contact-form-gNews {
  display: inline-block;
  width: 50.5%;
  vertical-align: top;
}
/* line 9, ../sass/blocks/clients-block.scss */
.clients-block .contact-form-gNews h3 {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1.1px;
  color: #413d4b;
  margin: 72px 0 35px 0;
}
/* line 19, ../sass/blocks/clients-block.scss */
.clients-block .contact-form-gNews .gNews-form {
  margin-right: 100px;
}
/* line 21, ../sass/blocks/clients-block.scss */
.clients-block .contact-form-gNews .gNews-form .wrap-input {
  margin-bottom: 21px;
  width: 100%;
}
/* line 24, ../sass/blocks/clients-block.scss */
.clients-block .contact-form-gNews .gNews-form .wrap-input input {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.7px;
  color: #413d4b;
  -webkit-text-fill-color: #413d4b;
  width: 100%;
  padding: 17px 0 17px 21px;
  border: 1px solid #E5E5E5;
  outline: none;
}
/* line 36, ../sass/blocks/clients-block.scss */
.clients-block .contact-form-gNews .gNews-form .wrap-input input:hover, .clients-block .contact-form-gNews .gNews-form .wrap-input input:focus {
  border-color: #46A3CC;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
/* line 43, ../sass/blocks/clients-block.scss */
.clients-block .contact-form-gNews .gNews-form .wrap-textarea {
  margin-bottom: 21px;
  width: 100%;
}
/* line 46, ../sass/blocks/clients-block.scss */
.clients-block .contact-form-gNews .gNews-form .wrap-textarea textarea {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.7px;
  color: #413d4b;
  -webkit-text-fill-color: #413d4b;
  width: 100%;
  max-width: 100%;
  padding: 22px 0 0 20px;
  border: 1px solid #E5E5E5;
  outline: none;
}
/* line 59, ../sass/blocks/clients-block.scss */
.clients-block .contact-form-gNews .gNews-form .wrap-textarea textarea:hover, .clients-block .contact-form-gNews .gNews-form .wrap-textarea textarea:focus {
  border-color: #46A3CC;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
/* line 66, ../sass/blocks/clients-block.scss */
.clients-block .contact-form-gNews .gNews-form .submit {
  font-family: "Hammersmith One", serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #00e0d0;
  border: 1px solid #00e0d0;
  background-color: transparent;
  padding: 15px 33px;
  margin-bottom: 70px;
}
/* line 75, ../sass/blocks/clients-block.scss */
.clients-block .contact-form-gNews .gNews-form .submit:active, .clients-block .contact-form-gNews .gNews-form .submit:hover {
  color: #46A3CC;
  border: 1px solid #46A3CC;
}
/* line 82, ../sass/blocks/clients-block.scss */
.clients-block .our-client-block {
  display: inline-block;
  width: calc(100% / 2 - 140px);
  max-width: 700px;
  min-width: 460px;
  vertical-align: top;
}
/* line 88, ../sass/blocks/clients-block.scss */
.clients-block .our-client-block h3 {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: 1.1px;
  color: #413d4b;
  margin: 72px 0 47px 0;
}
/* line 98, ../sass/blocks/clients-block.scss */
.clients-block .our-client-block .company-logo {
  display: inline-block;
  text-align: center;
  max-width: 162px;
  min-width: 155px;
  margin: 0 65px 47px 0;
}

/* line 5, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby25-x64/lib/ruby/gems/2.5.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/blocks/footer-main-block.scss */
footer.main {
  position: relative;
}
/* line 5, ../sass/blocks/footer-main-block.scss */
footer.main figure {
  width: 100%;
  height: auto;
  padding: 0;
}
/* line 9, ../sass/blocks/footer-main-block.scss */
footer.main figure img.footer-bgd {
  width: 100%;
  min-height: 400px;
}
/* line 13, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
  background: -o-linear-gradient(left, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
  background: linear-gradient(to right, rgba(9, 5, 47, 0.85), rgba(44, 26, 88, 0.85));
}
/* line 22, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-first {
  display: inline-block;
  vertical-align: top;
  width: 22%;
  margin-left: 15%;
  margin-right: 20px;
}
/* line 28, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-first .logo-footer {
  display: inline-block;
  margin: 70px 20px 27px 0;
  text-decoration: none;
  max-height: 50px;
}
/* line 34, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-first p {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.35px;
  color: white;
}
/* line 43, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-mid {
  display: inline-block;
  vertical-align: top;
  width: 22%;
  margin-right: 60px;
}
/* line 48, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-mid h4 {
  font-size: 15px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 0.75px;
  color: white;
  margin: 90px 0 31px 0;
  text-transform: uppercase;
}
/* line 58, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-mid .address {
  position: relative;
  vertical-align: top;
}
/* line 61, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-mid .address img {
  position: absolute;
  top: 2px;
}
/* line 65, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-mid .address p {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.35px;
  color: white;
  margin: 0 0 10px 30px;
  vertical-align: top;
}
/* line 76, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-mid .phone {
  position: relative;
}
/* line 78, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-mid .phone img {
  position: absolute;
  top: 2px;
}
/* line 82, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-mid .phone p {
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.35px;
  color: white;
  margin: 0 0 10px 30px;
  vertical-align: top;
}
/* line 94, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-last {
  display: inline-block;
  vertical-align: top;
  width: 25.5%;
}
/* line 98, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-last h4 {
  font-size: 15px;
  font-family: Roboto, sans-serif;
  font-weight: 900;
  line-height: 26px;
  letter-spacing: 0.75px;
  color: white;
  margin: 90px 0 31px 0;
  text-transform: uppercase;
}
/* line 109, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-last .subscribe-form .wrap-input {
  min-width: 211px;
  margin-bottom: 27px;
}
/* line 112, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-last .subscribe-form .wrap-input input {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 0.7px;
  color: white;
  -webkit-text-fill-color: white;
  background-color: transparent;
  width: 73%;
  padding: 17px 27px 17px 16px;
  border: 1px solid #E5E5E5;
  outline: none;
}
/* line 125, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-last .subscribe-form .wrap-input input:hover, footer.main figure figcaption .footer-column-last .subscribe-form .wrap-input input:focus {
  border-color: #46A3CC;
  transition: all 200ms ease-in-out;
  cursor: pointer;
}
/* line 131, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-last .subscribe-form .wrap-input .subscribe-button {
  background-color: rgba(160, 153, 180, 0.5);
  border: 1px solid rgba(160, 153, 180, 0.5);
  vertical-align: top;
  height: auto;
  cursor: pointer;
}
/* line 137, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-last .subscribe-form .wrap-input .subscribe-button:hover {
  border-color: #46A3CC;
  transition: all 200ms ease-in-out;
}
/* line 141, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-last .subscribe-form .wrap-input .subscribe-button img {
  margin: 13px 22px 10px 23px;
}
/* line 148, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-last .social-networks a {
  display: inline-block;
  min-width: 35px;
  min-height: 35px;
  margin-right: 8px;
  border: 1px solid white;
  border-radius: 50%;
  vertical-align: top;
  text-align: center;
  text-decoration: none;
  color: white;
}
/* line 159, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-last .social-networks a img {
  padding-top: 9px;
}
/* line 163, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-last .social-networks a:nth-child(2) img, footer.main figure figcaption .footer-column-last .social-networks a:nth-child(6) img {
  padding-top: 11px;
}
/* line 167, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-column-last .social-networks a:hover {
  border: 2px solid white;
}
/* line 173, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-nav {
  margin-left: 15%;
  margin-top: 61px;
}
/* line 176, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-nav li {
  float: left;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.364px;
  text-transform: uppercase;
  list-style-type: none;
  margin-right: 30px;
}
/* line 186, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-nav li a {
  color: white;
  text-decoration: none;
}
/* line 191, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-nav .copyright {
  float: right;
  padding-right: 17.5%;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.364px;
  color: white;
}
/* line 201, ../sass/blocks/footer-main-block.scss */
footer.main figure figcaption .footer-nav .clearfix {
  clear: both;
}
